body {
    background: #FFFFFF;
    font-family: 'Mulish', sans-serif;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-top: 61px;
    margin-right: 125px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 126px;
    margin-top: 61px;
    color: #111111;
}

.article-tittle {
    margin-top: 80px;
    margin-left: 133px;
    font-weight: bold;
    font-size: 22px;
    color: #4A4FF2;
}

.article-info {
    font-weight: bold;
    font-size: 40px;
    color: #000000;
    min-height: 191px;
    max-width: 635px;
    top: 60px;
    margin-left: 126px;
}

.grid-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
    min-height:;
    overflow: hidden;
    grid-gap: 20px;
    background: #FFFFFF;
}

.grid-item-1 {
    grid-column: 1/4;
    grid-row: 1/8;
}

.grid-item-2 {
    grid-column: 4/7;
    grid-row: 1/7;
}

.grid-item-3 {
    grid-column: 7/10;
    grid-row: 1/11;
}

.grid-item-4 {
    grid-column: 1/4;
    grid-row: 8/16;
}

.grid-item-5 {
    grid-column: 4/7;
    grid-row: 7/14;
}

.grid-item-6 {
    grid-column: 7/10;
    grid-row: 11/18;
}

.grid-item-7 {
    grid-column: 1/4;
    grid-row: 16/24;
}

.grid-item-8 {
    grid-column: 47;
    grid-row: 14/23;
}

.grid-item-9 {
    grid-column: 7/10;
    grid-row: 18/27;
}

.grid-item-10 {
    grid-column: 1/14;
    grid-row: 24/33;
}

.grid-item-11 {
    grid-column: 4/7;
    grid-row: 23/33;
}

.grid-item-12 {
    grid-column: 7/10;
    grid-row: 27/33;
}

.Group {
    margin-top: 91px;
    margin-left: 129px;
    font-family: 'Mulish';
    color: #111111;
    max-width: 1079px;
    min-height: 106px;
    display: flex;
}

.Group-text {
    font-weight: bold;
    font-size: 28px;
    min-height: 106px;
    max-width: 635px;
}

.Group-list {
    font-size: 18px;
    opacity: 0.6;
    flex-direction: column;
}

.divider {
    min-height: 2px;
    max-width: 1110px;
}

.divider-1 {
    margin-top: 101px;
    margin-left: 125px;
}

.awwward {
    max-width: 1110px;
    min-height: 411px;
    display: flex;
    flex-direction: column;
}

.awwward-1 {
    flex-direction: row;
}

.awwward-p1 {
    font-size: 22px;
    margin-left: 126px;
    margin-top: 50px;
}

.awwward-p2 {
    font-size: 18px;
    margin-left: 343px;
    margin-top: 50px;
    min-height: 23px;
    max-width: 125px;
}

.awwward-lista1 {
    font-size: 16px;
    flex-direction: column;
    min-height: 104px;
    max-width: 190px;
    margin-left: 160px;
    margin-top: 53px;
    text-align: left;
    color: #111111;
    font-weight: bold;
}

.awwward-lista-tittle1 {
    line-height: 20.08px;
    min-height: 20px;
    max-width: 102px;
}

.awwward-lista-info1 {
    line-height: 26px;
    min-height: 104px;
    max-width: 190px;
}

.tid-1 {
    font-Size: 16px;
    font-weight: 400;
    margin-top: 53px;
    margin-left: 121px;
}

.awwward-2 {
    flex-direction: row;
}

.awwward-p22 {
    margin-top: 167px;
    margin-left: 475px;
    margin-bottom: 148px;
    Size: 18px;
    max-width: 135px;
    min-height: 23px;
}

.awwward-lista2 {
    margin-top: 80px;
    margin-left: 150px;
    font-size: 16px;
    font-weight: bold;
    color: #111111;
    flex-direction: column;
    min-height: 110px;
    max-width: 190px;
}

.awwward-lista-tottle2 {
    min-height: 20px;
    max-width: 131px;
    Size: 16px;
    font-weight: 400;
}

.awwward-lista-info2 {
    min-height: 104px;
    max-width: 190px;
    font-size: 16px;
    text-align: left;
}

.tid-2 {
    font-Size: 16px;
    font-weight: 400;
    margin-top: 170px;
    margin-left: 121px;
}

.divider-2 {
    margin-top: 411px;
    margin-left: 125px;
}

.divider-3 {
    margin-top: 410px;
    margin-left: 125px;
}

.article-title {
    max-Width: 475px;
    min-height: 121px;
    font-family: Mulish;
    font-weight: bold;
    font-size: 40px;
    margin-top: 110px;
    margin-left: 125px;
}

.article-info {
    max-width: 635px;
    min-height: 222px;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 28px;
    margin-left: 125px;
}

.bild-1 {
    max-width: 1110px;
    min-height: 660px;
    margin-top: 61px;
    margin-left: 125px;
}

.bild-info {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 45px;
    margin-left: 125px;
    min-height: 93px;
    max-width: 1109px;
}

.project-bilder {
    margin-top: 20px;
    margin-left: 125px;
    margin-right: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.poject-bilder1 {
    min-height: 400px;
    max-width: 350px;
}

.contact-article {
    margin-left: 125px;
    display: flex;
    flex-direction: column;
}

.contact-article-title {
    margin-top: 110px;
    min-height: 174px;
    max-width: 475px;
    font-weight: bold;
    font-size: 40px;
}

.contact-article-info {
    min-height: 56px;
    max-width: 445px;
}

.contact-map {
    margin-left: 125px;
}